/.idea
/.next
/standalone-next
/.vscode
/dist
/node_modules
/node_modules/*
/node_modules/**/*
/**/node_modules
/playwright-report
/**/playwright-report
/**/playwright-report/*
/**/playwright-report/**/*
/**/storybook-static
/storybook-static
/reports
/.cache
/.nx-helpers
/build
/migration-storybook.log
/yarn-error.log
/storybook.log
/test-results/
/public/
/coverage

!./public/images
!./public/locales
!./public/offlinePage
!./public/sw
!/**/.gitkeep
certificates
/playwright-report/
/blob-report/
/playwright/.cache/

.env
.env.settings
.nx/cache
.nx/workspace-data
**/.env.local
/bun.lock
/bun.lockb

.next
out

# Expo
node_modules/
.expo/
.yarn/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
cache/
vite.config.*.timestamp*
vitest.config.*.timestamp*