**/vite.config.{js,ts,mjs,mts,cjs,cts}.timestamp*

out
node_modules

/.idea
/.next
/**/.next
/.vscode
/dist
/node_modules
/**/node_modules
/storybook-static
/reports
/.cache
/.nx
/.nx-helpers
/build
/migration-storybook.log
/yarn-error.log
/storybook.log
/test-results/
/public/

!./public/images
!./public/locales
!./public/offlinePage
!./public/sw
!/**/.gitkeep
certificates
/playwright-report/
/blob-report/
/playwright/.cache/

